body {
  color: #757575;
  font-family: roboto;
}

/* Глобальные стили */

:root {
  --background-header-footer: #2f303a;
  --blu-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
}

.footer {
  background-color: var(--background-header-footer);
}

.web {
  color: var(--blu-color);
}

.header .logo {
  font-family: Raleway;
  color: var(--black-color);
  font-size: 700;
}

.navigation .link:focus,
.navigation .link:hover {
  color: var(--blu-color);
}

ul {
  list-style: none;
}
